@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebBanMyPham.Context.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Quản lý người dùng</h2>

    <p>
        <a href="@Url.Action("Create", "UserAdmin")" class="btn btn-sm btn-primary mx-2">  Tạo mới</a>
        @*  @Html.ActionLink("Create New", "Create") *@
    </p>
    <table class="table">
        <tr>
            <th>
                Họ
                @*  @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)*@
            </th>
            <th>
                Tên
                @*  @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                Mật khẩu
                @*    @Html.DisplayNameFor(model => model.FirstOrDefault().Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdmin)
        </th>*@
<th>Chức năng</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        @*     <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>*@
                    <td>
                        <a href="@Url.Action("Edit", "UserAdmin", new { id = item.Id })" class="btn btn-sm btn-success w-75 my-1">  Sửa</a>
                        <a href="@Url.Action("Details", "UserAdmin", new { id = item.Id })" class="btn btn-sm btn-info w-75 mb-1">  Chi tiết</a>
                        <a href="@Url.Action("Delete", "UserAdmin", new { id = item.Id })" class="btn btn-sm btn-danger w-75 ">  Xóa</a>
                        @*
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                    </tr>
                }

            </table>
        </div>
