@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <h2>Thùng rác đơn hàng</h2>
    @using (Html.BeginForm("Destroy", "OrderAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <table class="table">
            <tr class="row">
                <th class="col-3">
                    Tên đơn hàng
                </th>
                <th class="col-3">
                    ID người dùng
                </th>

                <th class="col-3">
                    Ngày tạo

                </th>

                <th class="col-3">
                    Chức năng
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col-3">@item.Name</td>
                    <td class="col-3">@item.UserId</td>
                    <td class="col-3">@item.CreatedOnUtc</td>


                    <td class="col-3">
                        <a href="@Url.Action("Restore", "OrderAdmin", new { id = item.Id })" class="btn btn-sm btn-danger w-75 mb-2">Khôi phục đơn hàng</a>
                        <a href="@Url.Action("Delete", "OrderAdmin", new { id = item.Id })" class="btn btn-sm btn-danger w-75">  Xóa</a>
                    </td>
                </tr>
            }

        </table>


        <a href="@Url.Action("Index", "OrderAdmin")" class="btn btn-sm btn-info mx-2">  Quay trở lại</a>
    }
</div>

